body {
  background-color: #ccc;
  font-family: Arial;
}

h2 {
  text-align: center;
}

/*.search {
  width: 900px;
  margin: 0 auto;
}

.search-entry {
  margin: 5px;
  padding: 20px;
  width: 44%;
  display: inline-block;
  background-color: #00E265;
  vertical-align: top;
  color: #333;
  font-size: 13px;
  line-height: 17px;
  box-shadow: -2px -2px 2px black;
  border-radius: 20px;
}*/
